SongInventoryApplication_Client/SongInventoryApplication_Client/Service References/SongServiceReference/SongService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SongApplicationService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SongApplicationService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfAlbumInfo_ReturnType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AlbumInfo_ReturnType" nillable="true" type="tns:AlbumInfo_ReturnType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAlbumInfo_ReturnType" nillable="true" type="tns:ArrayOfAlbumInfo_ReturnType" />
  <xs:complexType name="AlbumInfo_ReturnType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:SongApplication_ReturnType">
        <xs:sequence>
          <xs:element minOccurs="0" name="AlbumId" type="xs:int" />
          <xs:element minOccurs="0" name="AlbumName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Length" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SongId" type="xs:int" />
          <xs:element minOccurs="0" name="SongName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrackNumber" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AlbumInfo_ReturnType" nillable="true" type="tns:AlbumInfo_ReturnType" />
  <xs:complexType name="SongApplication_ReturnType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Status" type="xs:int" />
      <xs:element minOccurs="0" name="StatusDescription" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SongApplication_ReturnType" nillable="true" type="tns:SongApplication_ReturnType" />
</xs:schema>